.inputContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 24px 40px;
}

.inner {
  display: flex;
  position: relative;
  align-items: center;
}

.circle {
  position: absolute;
  right: 30px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #666a6d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle:hover {
  background-color: #818588;
}

.closeIcon {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.input {
  color: white;
  width: 15rem;
  background-color: rgb(53, 48, 48);
  text-align: left;
  margin: 1rem;
  border: none;
  height: 40px;
  border-radius: 24px;
  padding-left: 20px;
  transition: all 0.2s linear;
}

.input:focus {
  outline: none;
  transition: all 0.2s linear;
}

button:hover,
.input:hover {
  background-color: wheat;
  transition: all 0.2s linear;
  color: black;
}
