.container {
  display: grid;
  margin: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 2rem;
}

.rawg > a {
  margin-left: 1rem;
  color: whitesmoke;
  font-size: 1rem;
}

.title {
  position: relative;
  font-size: 36px;
  font-weight: 700;
  top: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  color: white;
  background-color: #000;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 10px;
}
.title:before,
.title:after {
  background-color: #c50000;
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  border-radius: 50%;
  bottom: 25px;
}
.title:before {
  left: -30px;
}
.title:after {
  right: -30px;
}

.infos {
  margin-left: 0.5rem;
}

/* arrow */

.btnContainer {
  display: flex;
  justify-content: space-between;
  width: 15rem;
  margin: 2rem auto;
}

.notAllow {
  cursor: not-allowed;
}

.arrowNext,
.arrowPrevious {
  cursor: pointer;
}

.arrowNext,
.arrowPrevious,
.notAllow {
  position: relative;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  z-index: 1;
  transition: all 0.2s linear;
}

.arrowPrevious::before,
.arrowPrevious::after,
.arrowNext::before,
.arrowNext::after {
  background: #999;
}

.notAllow::before,
.notAllow::after {
  background: #535353;
}

.arrowPrevious::before,
.arrowPrevious::after,
.arrowNext::before,
.arrowNext::after,
.notAllow::before,
.notAllow::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 5%;
  z-index: 2;
  transition: all 0.2s linear;
}

.notAllow:hover {
  background-color: rgba(245, 222, 179, 0.4);
}

.arrowPrevious::before,
.notAllow::before {
  top: 60%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.arrowPrevious::after,
.notAllow::after {
  top: 42%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.arrowNext::before {
  top: 60%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.arrowNext::after {
  top: 42%;
  transform: translate(-50%, -50%) rotate(45deg);
}
