.container {
  display: grid;
  margin: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 2rem;
}

.title {
  text-align: center;
  color: white;
  font-size: 50px;
  line-height: 74px;
  font-weight: 700;
}

.infos {
  margin-left: 0.5rem;
}

/* arrow */

.btnContainer {
  display: flex;
  justify-content: space-between;
  width: 15rem;
  margin: 2rem auto;
}

.arrowNext,
.arrowPrevious {
  cursor: pointer;
  position: relative;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  z-index: 1;
  transition: all 0.2s linear;
}

.arrowPrevious::before,
.arrowPrevious::after,
.arrowNext::before,
.arrowNext::after {
  content: "";
  position: absolute;
  width: 35%;
  height: 10%;
  background: #999;
  z-index: 2;
  transition: all 0.2s linear;
}

.arrowPrevious::before {
  top: 60%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.arrowPrevious::after {
  top: 42%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.arrowNext::before {
  top: 60%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.arrowNext::after {
  top: 42%;
  transform: translate(-50%, -50%) rotate(45deg);
}
