@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(36, 36, 36, 1);
  font-family: "Roboto", sans-serif;
}

button {
  color: white;
  background-color: rgb(53, 48, 48);
  border: none;
  border-radius: 24px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s linear;
}
